@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$fontFamily: "Montserrat", sans-serif;
$defaultWhite: rgb(255, 255, 255);
$highlightColor: rgb(229,107,27);
$borderRadius: 0.7em;